<div class="card my-2 w-100">
  <div class="card-body">
    <h5 class="card-title"><%= post.user.username %></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= post.created_at.strftime("On %B %d, %Y at %H:%M") %>
    </h6>
    <p class="card-text"><%= post.content %></p>
    <div class="w-100 d-flex flex-row-reverse align-items-center">
      <% unless current_page?(post_path(post)) %>
        <%= link_to "View", post_path(post), class: "card-link m-2" %>
      <% end %>
      <%= render partial: "posts/likes", locals: { post: post, like: like } %>
    </div>
  </div>
</div>
